<header id="header">
  <div class="header-top">
    <ul class="welcome">
      <li>Hello!. Nestor Ramirez</li>
      <li class="config">
        <a href =""></a>
        <div class="config-box">
          <ul>
            <li><a href ="profile">Profile</a></li>
            <li><a href ="change-password">Change Password</a></li>
            <li><a href ="">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-bar">
    <div class="config select-type">
      <a href =""> Developer </a>
      <div class="config-box">
        <ul>
          <li><a href ="">Profile</a></li>
          <li><a href ="">Change Password</a></li>
          <li><a href ="">Log Out</a></li>
        </ul>
      </div>
    </div>
    <ul class="nav">
      <li><a href ="" class="dashboard">Dashboard</a></li>
      <li><a href ="transactions" class="transaction">Transactions</a></li>
      <li><a href ="applications" class="application">Applications</a></li>
      <li><a href ="support" class="support">Technical Support</a></li>
      <li><a href ="colleagues" class="colleagues">Colleagues</a></li>
    </ul>
  </div>
</header>