<div class="sidebar">
  <div class="content-avatar clearfix">
    <div class="user-avatar">
      <%= image_tag "app/avatar.jpg" %>
    </div><!-- user-avatar END -->
    <div class="user-data">
      <h2>Nestor Ramirez</h2>
      <span>nestor.ramirez@koombea.com</span>
    </div><!-- user-data END -->
  </div><!--.content-avatar-->
  <div class="choose-app">
    <fieldset>
      <label>Choose an Application</label>
      <select class="skin-select">
        <option>Cidade Maravilhosa - Rio</option>
        <option>FarmVille</option>
        <option>CityVille</option>
      </select>
    </fieldset>
  </div><!--.choose-app-->
  <div class="game-data">
    <div class="game-data-wrapper">
      <div class="state"></div>
      <h2>Ciudade Maravilhosa Rio</h2>
      <span>Your app is Up</span>
    </div><!-- game-data-wrapper END -->
    <div class="c-arrow-border"></div>
  </div><!--.game-data-->
  <div class="paid-value">
    <h2>Gross Paid Value</h2>
    <span>$999.999.999,99</span>
  </div><!-- paid-value END -->
  <div class="paid-value default">
    <h2>Net Paid Value</h2>
    <span>$999.999.999,99</span>
  </div><!-- paid-value default END -->
</div><!--.sidebar-->