<div class="head-table box-default clearfix">
  <form>
    <div class="box-search-filter clearfix">
      <fieldset class="">
        <label>Search by Code</label>
        <input class="text" type="text">
      </fieldset>
      <fieldset class="">
        <label>Search by Status</label>
        <select class="skin-select">
          <option>Lorem ipsum</option>
        </select>

      </fieldset>
      <fieldset class="btn-alone last">
        <div class="btn-green">
          <input type="submit", value="Search">
        </div>
      </fieldset>
    </div><!--.box-search-filter-->
  </form>
</div><!--.head-table-->