@charset "UTF-8";
@import url("reset.css");

/* -----------------------------------------------------------

- Title: Paymentez Version 3
- Author: Leandro Pineda (http://koombea.com)
- Design by: Nestor Ramirez (http://koombea.com)

----------------------------------------------------------- */

/* Helpers
============================================================ */
.clearfix:before,
.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1; overflow:visible !important;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

.nomarginright{margin-right:0px !important;}
.green-link{color:#9FB659 !important;}
.blue-link{color:#0099CC !important;}

.borderadius-all{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* General
============================================================ */
body{
  color:#666;
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
  height:100%;
}

html{height:100%;}

#wrapper{
  min-height:100%;
  height:auto !important;
  height:100%;
  margin:0 auto -485px;
  width:100%;
}

.wrapper{
  margin:0 auto;
  width:950px;
}

p{
  line-height:1.2em;
  margin-bottom:1em;
}

a{
	-moz-transition:color 0.1s linear;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}

a:hover{
	
}

/* Header
============================================================ */
#header{
  background: url(../images/backgrounds/header.png) no-repeat top;
  height:118px;
  margin-bottom:15px;
}

#logo{
  float:left;
  margin:35px 0 0 30px;
}
#header nav{
  clear:both;
  float:right;
}
#header nav li,
#header nav a{display:inline-block;}

#header nav li{
  font-weight:bold;
  margin-right:25px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

.ie7 #header nav{margin-top:45px;}

.ie7 #header nav li{
  display:block;
  float:left;
}

#header nav li a{
  color:#FFF;
  text-decoration:none;
}

#header nav li a:hover{text-decoration:underline;}


ul.links-sign{
  float:right;
  padding-top:15px;
}

ul.links-sign li{
  border-right:1px solid #6E9E30;
  border-left:1px solid #91CF3F;
  display:block;
  float:left;
  font-size:11px;
  font-weight:bold;
  line-height:20px;
  padding-right:10px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

ul.links-sign li:first-child{border-left:0;}

ul.links-sign li:last-child{border-right:0;}

ul.links-sign li a{
  color:#D2FF9D;
  text-decoration:none;
  padding-left:10px;
}

ul.links-sign li.cart{
  background: url(../images/icons/shopping-cart-green.png) no-repeat 10px 0 ;
  padding-left:25px;
}

ul.links-sign li a:hover{text-decoration:underline;}

/* Content
============================================================ */
#content{
  padding-bottom:485px;
}

h2{
  color:#666;
  font-size:18px;
}

h3{
  color:#333;
  font-size:16px;
}

ul.list-gray li{
  line-height:2em;
}

ul.list-gray li a{
  color:#666;
}

ul.list-gray li a:hover{
  -moz-transition:all 0.1s linear;
  -webkit-transition:all 0.1s linear;
  transition:all 0.1s linear;
  color:#0C98C9;
}

.main-content{margin-bottom:20px;}

.sidebar{
  padding-top:20px;
  float:left;
}

.sidebar h2{margin-bottom:25px;}
.sidebar h3{margin-bottom:8px;}

.sidebar .content-block{margin-bottom:20px;}

.shopping{
  float:right;
  position:relative;
  width:710px;
}

.shopping-title{
  margin-bottom:25px;
  overflow:hidden;
}

.shopping h2{
  float:left;
  padding-top:20px;
}

.shopping .content-btn{float:right;}

.content-items{
  background-color:#F8F8F8;
  border:1px solid #E7E7E7;
  -moz-box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset, -1px -1px 2px rgba(231,231,231,0.9) inset;
  -webkit-box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset, -1px -1px 2px rgba(231,231,231,0.9) inset;
  box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset, -1px -1px 2px rgba(231,231,231,0.9) inset;
  clear:both;
  margin-bottom:20px;
  padding:15px;
}

.content-items p{
  float:right;
  font-size:14px;
  font-weight:bold;
  margin:5px 15px 0px 0;
}

.content-items p strong{font-size:20px;}
.content-items p strong, .content-items p span{color:#0077A5;}

.items-head{
  margin-bottom:15px;
  overflow:hidden;
}

.items-head h5{
  float:left;
}

ul.items-filter{
  float:right;
}

ul.items-filter li{
  border-right:2px solid #666;
  display:block;
  float:left;
  margin-right:10px;
  padding-right:10px;
}

ul.items-filter li:last-child{
  border-right:none;
}

ul.items-filter li a{
  color:#666;
  font-weight:bold;
}

.items-box{
  border:1px solid #D9D9D9;
  overflow:hidden;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  margin-bottom:9px;
  padding:15px;
}

.items-box.small{
  width:44%;
}

.items-box.small:nth-child(odd){float:left}
.items-box.small:nth-child(even){float:right}

.items-box h3{
  color:#666;
  font-size:14px;
  line-height:1.2em;
  margin-bottom:3px;
}

.items-box h4{
  font-size:12px;
  font-weight:normal;
  margin-bottom:10px;
}

.items-box .items-img{
  border:1px solid #D9D9D9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  float:left;
  height:64px;
  margin-right:10px;
  overflow:hidden;
  width:64px;
}

.items-box .items-img img{
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.items-box .items-data{
  float:left;
}

.items-box .items-data p{
  clear:both;
  color:#333;
  font-size:16px;
  font-weight:bold;
  float:none;
  margin-bottom:10px;
}

.items-box .items-data p strong{
  font-size:20px;
  padding-right:5px;
}
.ie7 .items-box .items-data p strong{float:left;}

.items-box .items-data p span{
  background: url(../images/icons/coins.png) no-repeat;
  padding:5px 16px;
} 

.ie7 .items-box .items-data p span{
  display:block;
  float:left;
}

.items-box .items-data ul li{
  color:#0099CC;
  display:block;
  float:left;
  margin-right:5px;
}

.items-box .items-data ul li a{padding-right:5px;}

.items-box ul.list-price{
  float:right;
  margin-top:25px;
}

.items-box ul.list-price li{
  display:block;
  float:left;
  font-size:14px;
  font-weight:bold;
  margin-right:30px;
  padding-top:7px;
}

.items-box ul.list-price li span{font-size:20px;}
.items-box ul.list-price li.price{color:#0077A5;}

.items-box ul.list-price li.quantity{
  border:1px solid #CCC;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow:0 3px 5px rgba(204,204,204,0.9) inset;
  -webkit-box-shadow:0 3px 5px rgba(204,204,204,0.9) inset;
  box-shadow:0 3px 5px rgba(204,204,204,0.9) inset;
  font-weight:normal;
  padding:10px 15px;
}

.ads-content{
  overflow:hidden;
  margin-bottom:20px;
}

.ads-content .ads-box{
  background-color:#F4F4F4;
  border:1px solid #E4E4E4;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow:0 0px 5px rgba(228,228,228,0.9) inset;
  -webkit-box-shadow:0 0px 5px rgba(228,228,228,0.9) inset;
  box-shadow:0 0px 5px rgba(228,228,228,0.9) inset;
  height:100px;
  padding:5px;
}

.ads-content .ads-box.ads-small{width:190px; float:left;}

.ads-content .ads-box div{
  background-color:#FFF;
  height:100%;
  width:100%;
}

.ads-content .ads-box.ads-big{width:700px; float:right;}

.paymentl-wrapper{
  background: url(../images/backgrounds/shadow-paymentl.png) no-repeat center top;
  padding:40px 0;
}

.paymentl-wrapper h4{
  font-size:16px;
  font-weight:normal;
  margin-bottom:15px;
}

.box-paymentl-option{
  border:1px solid #E5E5E5;
  height:61px;
  margin-bottom:10px;
}

.paymentl-wrapper ul.paymentl-list{
  padding:15px 0 0 15px;
}

.paymentl-wrapper .paymentl-list li{
  display:block;
  float:left;
}

.paymentl-wrapper .paymentl-list li.payment-company{margin-right:20px;}

.paymentl-wrapper .paymentl-list li.payment-company{
  background: url(../images/backgrounds/payment-list.png) no-repeat;
}

.paymentl-wrapper .paymentl-list li.payment-company.paymentez{
  background-position:0 0;
  height:31px;
  width:100px;
}

.paymentl-wrapper .paymentl-list li.payment-company.pagaseguro{
  background-position:0 -49px;
  height:43px;
  width:150px;
}

.paymentl-wrapper .paymentl-list li.payment-company.mercadopago{
  background-position:0 -127px;
  height:35px;
  width:150px;
}

.paymentl-wrapper .paymentl-list li.payment-company.mopay{
  background-position:10px -198px;
  height:37px;
  width:126px;
}

.paymentl-wrapper .paymentl-list li.list-payment{
  background: url(../images/backgrounds/payment-list.png) no-repeat;
  height:35px;
  width:700px;
}

.paymentl-wrapper .paymentl-list li.visa-master-card{background-position:-121px 0;}
.paymentl-wrapper .paymentl-list li.pagaseguro-list{background-position:-172px -54px;}
.paymentl-wrapper .paymentl-list li.mercadopago-list{background-position:-160px -127px;}
.paymentl-wrapper .paymentl-list li.mopay-list{background-position:-130px -199px;}

.tabs{
  position:relative;
  z-index:3;
  padding:25px 0 0 10px;
}

.tabs li{
  display:block;
  float:left;
  line-height:38px;
  margin-right:10px;
}

.tabs li a{
  background:#7BB036 url('../images/backgrounds/shadow-tabs.png') no-repeat center 28px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:#FFF;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  padding:15px 40px 12px 40px;
}

.tabs li a:hover{text-decoration:underline;}

.tabs li a.active{
  background-image:none;
  background-color:#F8F8F8;
  border:1px solid #E7E7E7;
  border-bottom:0px;
  -moz-box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset;
  -webkit-box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset;
  box-shadow:1px 1px 2px rgba(231,231,231,0.9) inset;
  color:#666;
  padding-bottom:15px;
}

.image-game-show{
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  height:350px;
  margin-bottom:20px;
}

.show-more{
  border: 1px solid #EBEBEB;
  -moz-box-shadow:1px 1px 1px rgba(255,255,255,0.9) inset;
  -webkit-box-shadow:1px 1px 1px rgba(255,255,255,0.9) inset;
  box-shadow:1px 1px 1px rgba(255,255,255,0.9) inset;
  clear:both;
  height:22px;
  margin:20px 0 10px 0;
  padding-top:10px;
  width:100%;
}

.show-more a{
  background: url(../images/icons/arrowdown-show.png) no-repeat 14px 5px;
  color:#999;
  font-weight:bold;
  padding-left:30px;
  text-decoration:none;
}

/* Buttons
============================================================ */

/* ---Blue Arrow---*/
.blue-arrow{
  background: url(../images/buttons/blue-arrow.png) no-repeat left top;
  display:block;
  float:left;
  padding-left:10px;
  text-decoration:none;
}

.blue-arrow span, .blue-arrow span input{
  background: url(../images/buttons/blue-arrow.png) no-repeat right top;
  color:#FFF;
  display:block;
  float:left;
  font-size:14px;
  line-height:18px;
  padding:10px 55px 12px 20px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

.blue-arrow:hover{background-position:0 -90px;}
.blue-arrow:hover span, .blue-arrow:hover span input{background-position:right -90px;}

.blue-arrow:active{background-position:0 -176px;}
.blue-arrow:active span, .blue-arrow:active span input{background-position:right -176px;}

/* ---Gray Arrow left---*/

.gray-arrowleft{
  background: url(../images/buttons/gray-arrowleft.png) no-repeat left top;
  display:block;
  float:left;
  padding-left:37px;
  text-decoration:none;
}

.gray-arrowleft span, .gray-arrowleft span input{
  background: url(../images/buttons/gray-arrowleft.png) no-repeat right top;
  color:#FFF;
  display:block;
  float:left;
  font-size:14px;
  line-height:23px;
  padding:10px 20px 12px 10px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

/* ---Orange btn---*/

.orange-btn{
  background: url(../images/buttons/orange-btn.png) no-repeat top left;
  display:block;
  float:left;
  padding-left:6px;
  text-decoration:none;
}

.orange-btn span, .orange-btn input{
  background: url(../images/buttons/orange-btn.png) no-repeat top right;
  color:#FFF;
  display:block;
  float:left;
  font-weight:bold;
  line-height:14px;
  padding:7px 11px 8px 5px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
  width:auto;
}

/* ---blue btn---*/

.blue-btn{
  background: url(../images/buttons/blue-btn.png) no-repeat top left;
  display:block;
  float:left;
  padding-left:6px;
  text-decoration:none;
}

.blue-btn span, .blue-btn input{
  background: url(../images/buttons/blue-btn.png) no-repeat top right;
  color:#FFF;
  display:block;
  float:left;
  font-weight:bold;
  line-height:14px;
  padding:7px 11px 8px 5px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
  width:auto;
}

/* Footer
============================================================ */
#footer{
  background: url(../images/backgrounds/footer.jpg) repeat-x;
  clear:both;
  height:485px;
  overflow:hidden;
}

#footer .wrapper{
  background: url(../images/backgrounds/shadow-footer.png) no-repeat top center;
  border-bottom:1px solid #212121;
  padding:85px 0 45px 0;
}

#footer .wrapper.copyright{
  background:none;
  border-top:1px solid #474747;
  border-bottom:0;
  padding:0;
}

#footer h3{
  color:#FFF;
  font-size:16px;
  font-weight:bold;
  margin-bottom:45px;
  text-shadow:0 1px rgba(0,0,0,0.9);
  text-transform:uppercase;
}

#footer h4{
  color:#CCC;
  font-size:14px;
  font-weight:bold;
  line-height:1.2em;
  margin-bottom:5px;
}

#footer span{
  color:#666;
  font-size:11px;
  line-height:2em;
}

#footer .block-content{
  float:left;
  margin-right:190px;
  max-width:310px;
}

#footer ul.list li{
  line-height:2.2em;
  text-shadow:0 -1px rgba(0,0,0,0.9);
}

#footer ul.list li a{
  color:#999;
  font-size:12px;
}

#footer .last-post{margin-bottom:20px;}

#footer .last-post p{
  color:#999;
  line-height:1.6em;
  text-shadow:0 -1px rgba(0,0,0,0.9);
}

#footer .last-post p a{
  padding-left:5px;
}

#footer .copyright{text-align:right;}

#footer .copyright p{
  color:#666;
  font-size:11px;
  padding:20px 0 0 0;
  text-shadow:0 -1px rgba(0,0,0,0.9);
}

#footer .copyright p a{
  color:#999;
  font-weight:bold;
}

/* Columns
============================================================ */
.column{
  float:left;
  margin-right:2%;
  width:100%;
}

.column.last{margin-right:0;}

.half{width:49%;}
.third{width:32%;}
.third.double{width:66%;}
.fourth{width:23.5%;}
.fourth.triple{width:74.5%;}
.fifth{width:18.4%;}
.fifth.double{width:38.8%;}
.fifth.triple{width:59.2%;}
.fifth.quadruple{width:79.6%;}

/* Forms
============================================================ */
.field{margin-bottom:20px;}

label{
  display:block;
  margin-bottom:10px;
}

label.inline{display:inline-block;}
label.checkbox{cursor:pointer;}
label.checkbox input,
label.checkbox span{vertical-align:middle;}
label.checkbox input{margin-right:5px;}

.text{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
}

.ie7 .text{width:95%;}


/* Buttons
============================================================ */