@charset "UTF-8";
@import url("reset.css");

/* -----------------------------------------------------------

- Title: Project X Main Stylesheet
- Author: John Doe (http://koombea.com)
- Design by: John Doe (http://koombea.com)

----------------------------------------------------------- */

/* Helpers
============================================================ */
.clearfix:before,
.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1; overflow:visible !important;}

.clear{clear:left;}

.floatleft{float:left !important;}
.floatright{float:right !important;}
.floatcenter{
  float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	overflow:hidden;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

/* General
============================================================ */
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
}

#wrapper{

}

.wrapper{
  margin:0 auto;
  width:950px;
}

p{
  line-height:1.2em;
  margin-bottom:1em;
}

a{
	-moz-transition:color 0.1s linear;
	-webkit-transition:color 0.1s linear;
	transition:color 0.1s linear;
}

a:hover{
	
}

/* Header
============================================================ */
#header{
  background: url(../images/backgrounds/header.png) no-repeat top;
  height:118px;
}

#logo{
  float:left;
  margin:35px 0 0 30px;
}
#header nav{
  clear:both;
  float:right;
}
#header nav li,
#header nav a{display:inline-block;}

#header nav li{
  font-weight:bold;
  margin-right:25px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

#header nav li a{
  color:#FFF;
  text-decoration:none;
}

#header nav li a:hover{text-decoration:underline;}


ul.links-sign{
  float:right;
  padding-top:15px;
}

ul.links-sign li{
  border-right:1px solid #6E9E30;
  border-left:1px solid #91CF3F;
  display:block;
  float:left;
  font-size:11px;
  font-weight:bold;
  line-height:20px;
  padding-right:10px;
  text-shadow:0 -1px rgba(0,0,0,0.2);
}

ul.links-sign li:first-child{border-left:0;}

ul.links-sign li:last-child{border-right:0;}

ul.links-sign li a{
  color:#D2FF9D;
  text-decoration:none;
  padding-left:10px;
}

ul.links-sign li.cart{
  background: url(../images/icons/shopping-cart-green.png) no-repeat 10px 0 ;
  padding-left:25px;
}

ul.links-sign li a:hover{text-decoration:underline;}

/* Content
============================================================ */
#content{

}


/* Footer
============================================================ */
#footer{
  
}

/* Columns
============================================================ */
.column{
  float:left;
  margin-right:2%;
  width:100%;
}

.column.last{margin-right:0;}

.half{width:49%;}
.third{width:32%;}
.third.double{width:66%;}
.fourth{width:23.5%;}
.fourth.triple{width:74.5%;}
.fifth{width:18.4%;}
.fifth.double{width:38.8%;}
.fifth.triple{width:59.2%;}
.fifth.quadruple{width:79.6%;}

/* Forms
============================================================ */
.field{margin-bottom:20px;}

label{
  display:block;
  margin-bottom:10px;
}

label.inline{display:inline-block;}
label.checkbox{cursor:pointer;}
label.checkbox input,
label.checkbox span{vertical-align:middle;}
label.checkbox input{margin-right:5px;}

.text{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
}

.ie7 .text{width:95%;}


/* Buttons
============================================================ */