<div class="head-table box-default clearfix">
  <%= search_form_for @search do |form| %>
    <div class="four-fieldset clearfix more-separate">
      <fieldset class="big">
        <%= form.label :name_cont, "Nombre Del Producto" %>
        <%= form.text_field :name_cont, class: :text %>
      </fieldset>
      <fieldset class="btn-alone last">
        <%= content_tag :div, form.submit("Buscar"), class: "btn-green" %>
      </fieldset>
    </div><!-- four-fieldset clearfix more-separate END -->
  <% end %>
</div><!--.head-table-->