<div class="four-fieldset clearfix">
  <fieldset>
    <label>Status:</label>
    <select class="skin-select">
      <option>New</option>
    </select>
  </fieldset>
  <fieldset>
    <label>Code:</label>
    <input type="text" class="text">
  </fieldset>
  <fieldset class="big">
    <label>Name:</label>
    <input type="text" class="text">
  </fieldset>
  <fieldset class="last">
    <label>Environment:</label>
    <select class="skin-select">
      <option>Facebook</option>
    </select>
  </fieldset>
</div><!--.four-fieldset-->
<div class="four-fieldset clearfix more-separate">
  <fieldset>
    <label>Currency:</label>
    <select class="skin-select">
      <option>New</option>
    </select>
  </fieldset>
  <fieldset class="bigest">
    <label>Application URL:</label>
    <input type="text" class="text">
  </fieldset>
</div><!--.four-fieldset-->
<div class="cancel-save">
  <ul class="list-cancel">
    <li><div class="btn-green"><input type="submit" value="Save Application"></div></li>
    <li><a href ="#" class="cancel-app">Cancel</a></li>
  </ul>
</div>
