<div class="head-table box-default clearfix">
  <form>
    <div class="box-search-filter clearfix">
      <fieldset>
        <label>Search by Code</label>
        <input class="text" type="text">
      </fieldset>
      <fieldset>
        <label>Search by Code</label>
        <input class="text" type="text">
      </fieldset>
      <fieldset class="btn-alone last">
        <div class="btn-green">
          <input type="submit", value="Search">
        </div>
      </fieldset>
    </div><!-- box-search-filter clearfix END -->
  </form>
</div><!-- head-table box-default clearfix END -->