<div class="<%= class_div %>">
  <ul class="list-cancel">
    <li><%= content_tag :div, form.submit("Guardar Venta"), class: "btn-green"%></li>
    <li><%= link_to_add_sale "Agregar Artículo", form, :sale_transactions %></li>
  </ul>
</div><!-- cancel-save END -->