<div class="wrapp-box clearfix">
  <div class="two-columns floatleft box-summary">
    <h3 class="details">Total de la Venta</h3>
    <div class="box-default rounder-all-five">
      <ul class="list-price clearfix">
        <li>
          <strong>Total Artículos:</strong>
          <span id="total_of_articles">0</span>
        </li>
      </ul><!-- .list-price clearfix END -->
      <ul class="list-price net clearfix">
        <li>
          <strong>Total Venta:</strong>
          <span id="total_of_sale">$ 0,00</span>
        </li>
      </ul><!-- .list-price net clearfix END -->
    </div><!-- .box-default rounder-all-five END -->
  </div><!-- .two-columns -->
</div><!-- wrapp-box clearfix END -->