<% if !@sale_transactions.blank? %>
  <div class="wrapp-box clearfix">
    <div class="two-columns floatleft box-summary">
      <h3 class="details">Resumen De Venta(s)</h3>
      <div class="box-default rounder-all-five">
        <ul class="list-price clearfix">
          <li>
            <strong>Fecha Inicial:</strong>
            <%= content_tag :span %>
          </li>
          <li>
            <strong>Fecha Final:</strong>
            <%= content_tag :span %>
          </li>
        </ul><!-- list-price clearfix END -->
        <ul class="list-price net clearfix">
          <li>
            <strong>Total Del Reporte:</strong>
            <%= content_tag :span, number_to_currency(@sale_transactions.sum(&:article_total_price)) %>
          </li>
        </ul><!-- list-price clearfix END -->
      </div><!-- box-default rounder-all-five END -->
    </div><!-- two-columns floatleft box-summary END -->
  </div><!-- wrapp-box clearfix END -->
<% end %>