<div class="wrapp-box clearfix">
  <div class="two-columns floatleft box-summary">
    <h3 class="details">Product Value</h3>
    <div class="box-default rounder-all-five">
      <ul class="list-price clearfix">
        <li>
          <strong>Gross Value:</strong>
          <span>$999.999,99</span>
        </li>
        <li>
          <strong>Discount:</strong>
          <span>$999.999,99</span>
        </li>
        <li>
          <strong>Taxes:</strong>
          <span>$999.999,99</span>
        </li>
        <li>
          <strong>Fees:</strong>
          <span>$999.999,99</span>
        </li>
      </ul><!--.list-price-->
      <ul class="list-price net clearfix">
        <li>
          <strong>Net Value</strong>
          <span>$999.999,99</span>
        </li>
      </ul><!--.list-price-->
    </div><!--.box-default-->
  </div><!--.two-columns-->
</div>